div.container
	header.site-header
		div.row
			div.col-md-4.col-sm-5.col-xs-8
				div.logo
					h1
						a(href="/") xxxx
			div.col-md-8.col-sm-7.col-xs-4
				nav.main-nav
					div.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.cl-effect-11
								a(href="/home") H