<header class="compose-header">
    <input type="text" class="article-title" placeholder="标题" ng-model="title">
</header>
<section class="compose-body">
    <section class="compose-content">
        <textarea name="markdownEditor" class="editor" ng-model="content" placeholder="markdown"></textarea>
    </section>
    <section class="compose-preview">
        <div class="preview-content markdown" ng-bind-html="preview"></div>
    </section>
</section>
<section class="compose-option clearfix">
    <a href="javascript:;" class="btn btn-save" ng-click="save()">保存</a>
</section>
