//out: ../articles.css

/* articles */
.article-list {
    float:left;
    width:30%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    border-right:1px solid #eee;

    .article-item {
        display:inline-block;
        height:90px;
        width:100%;
        border-bottom:1px solid #eee;

        &.active {
            background:#f7f7f3;
        }

        a {
            padding:19px 20px 22px 24px;
            display:block;

            .article-title {
                color:#000;
                font-size: 18px;
                font-weight: normal;
            }

            .article-meta {
                margin-top:10px;
                color: #7f7f7f;

                .article-status {
                    margin-left:10px;
                }
            }
        }
    }
}

.article-content {
    float:right;
    width:70%;
    height:100%;
    margin-left:-30%;

    .article-content-header {
        height: 60px;
        border: 1px solid #eee;

        .article-time {
            margin-top: 20px;
            display: inline-block;
            margin-left: 20px;
        }

        .btn-edit {
            margin:20px 10px 0 0;

            .icon-edit {
                margin-right:5px;
            }
        }
    }

    .article-content-body {
        margin-top:10px;

        .wrapper {

        }
    }

}
