extends ../layout
block content
	div.content-body
		div.container
			div.row
				section.col-md-9   
					article.post
						header.entry-header
							h1.entry-title
								a(href="/article/#{article.id}")= article.title
							div.entry-meta
								span.post-category
									a(href="/") sdfwe
								span.post-date
									a(href="/") sdfwe
								span.post-author
									a(href="/") sdfwe
							div.entry-content.clearfix
								p!= article.content
								// div.read-more.cl-effect-14
									// a.more-link(href="/")		
				include ../includes/side.jade				