<header class="compose-header">
    <input type="text" class="article-title" placeholder="标题" ng-model="title">
</header>
<section class="compose-body">
    <section class="compose-content">
        <textarea name="markdownEditor" class="editor" ng-model="content" placeholder="markdown"></textarea>
    </section>
    <section class="compose-preview">
        <div class="preview-content markdown" ng-bind-html="preview"></div>
    </section>
</section>
<section class="compose-option clearfix">
    <div class="tagbar">
        <ul class="tagList fl">
            <li class="fl" ng-repeat="tag in tags">
                <a href="javascript:;" ng-cloak>{{tag.name}}</a>
            </li>
        </ul>
        <form ng-submit="addTag()">
            <input type="text" class="fl tagtext" ng-model="tag">
        </form>
    </div>
    <a href="javascript:;" class="btn btn-save" ng-click="save()">保存</a>
</section>