/* articles */
.article-list {
  float: left;
  width: 30%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee; }
  .article-list .article-item {
    display: inline-block;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #eee; }
    .article-list .article-item.active {
      background: #f7f7f3; }
    .article-list .article-item a {
      padding: 19px 20px 22px 24px;
      display: block; }
      .article-list .article-item a .article-title {
        color: #000;
        font-size: 18px;
        font-weight: normal; }
      .article-list .article-item a .article-meta {
        margin-top: 10px;
        color: #7f7f7f; }
        .article-list .article-item a .article-meta .article-status {
          margin-left: 10px; }

.article-content {
  float: right;
  width: 70%;
  height: 100%;
  margin-left: -30%; }
  .article-content .article-content-header {
    height: 60px;
    border: 1px solid #eee; }
    .article-content .article-content-header .article-time {
      margin-top: 20px;
      display: inline-block;
      margin-left: 20px; }
    .article-content .article-content-header .btn-edit {
      margin: 20px 10px 0 0; }
      .article-content .article-content-header .btn-edit .icon-edit {
        margin-right: 5px; }
  .article-content .article-content-body {
    margin-top: 10px; }
